input {
  border: none;
}

input:focus {
  outline: none;
}

.input-box {
  border: 2px solid black;
  margin-bottom: 1rem;
  display: flex;
}

.purpose-box {
  border: 2px solid black;
  margin-bottom: 1rem;
  padding-bottom: 4rem;
}

#add-btn-container {
  display: flex;
  justify-content: end;
}

.error {
  border: 2px solid red;
  margin-bottom: 1rem;
  display: flex;
}

.purpose-error {
  border: 2px solid red;
  margin-bottom: 1rem;
  padding-bottom: 4rem;
}